$max-width: 1000px

p
	line-height: 1.15

legend
	position: absolute
	left: 0
	right: 0
	top: 1rem
	font-weight: bold
	text-align: center

button
	margin-top: 2rem
	padding: 0.75rem 0
	background: #1dc103
	width: 100%
	color: #fff
	border: none
	cursor: pointer


	&:hover
		opacity: 0.5

.flex-box
	@extend %flex-box

.lbl-error
	display: block
	background: #be0004
	padding: 0.5rem
	color: #eee
	font-size: $base-content-font - 0.125rem

.required:before
	display: block
	content: "*"
	float: left